.bg {
    opacity: 1;
    background-color: #582138;
}

.time_hour_label {
    font-size: 30px;
    color: #fffcf9;
}

.time_min_label {
    font-size: 30px;
    color: #fffcf9;
}

.time_day_label {
    color: #fffcf9;
    font-size: 25px;
}
